run.command text eol=lf
instalar.command text eol=lf
desinstalar.command text eol=lf
run.bat text eol=crlf
instalar.bat text eol=crlf
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
